.create-post {
	width: min(calc(100vw - 2rem), 1200px);
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	margin-block: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	form {
		width: 100%;
		padding: 20px;
        display: flex;
        flex-direction: column;
		gap: 10px;
		background-color: var(--secondary-color);
		box-shadow: 0px 0px 10px var(--shadow-color);
        border-radius: 4px;
        h1 {
			font-size: 2rem;
			text-align: center;
            width: fit-content;
			background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.input {
			display: flex;
			flex-direction: column;
			width: 100%;
			input,
			textarea {
				padding: 10px;
			}
			textarea {
				resize: none;
				height: min(50vh, 500px);
			}
		}
		.button {
			padding: 6px;
			width: 200px !important;
		}
	}
}
