.crop-container {
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(calc(100vw - 2rem), 1200px);
	margin: 0 auto;
	padding: 20px;
	gap: 10px;
	margin-block: 60px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px var(--shadow-color);
	.drop-zone {
		width: 100%;
		height: 150px;
		background-color: var(--secondary-color);
		border: 1px dashed var(--first-accent-color);
		outline: 1px dashed var(--second-accent-color);
		margin-block: 20px;
		border-radius: 4px;
		box-shadow: 0px 0px 10px var(--shadow-color);
		position: relative;
		input[type='file'] {
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;
		}
		span, svg {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			pointer-events: none;
		}
		svg {
			opacity: 0.1;
		}
	}

	.Crop-Controls {
		display: flex;
		flex-direction: column;
		width: min(100%, 400px);
		.crop-input {
			&:has(input:disabled) {
				opacity: 0.7;
				input {
					opacity: 0.3;
				}
				label {
					background: var(--text-color);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					opacity: 0.3;
				}
			}
			display: grid;
			label {
				width: fit-content;
				background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			input {
				padding: 8px;
				border-radius: 4px;
				border: none;
				background: none;
				outline: none;
				padding-left: 12px;
				color: var(--text-color);
				border: 1px solid var(--border-color);
				&:focus {
					border: 1px solid var(--first-accent-color);
				}
			}
		}
	}
	h3 {
		font-size: 1.3rem;
		font-weight: normal;
		width: fit-content;
		background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.canvas {
		width: min(400px, 100%);
		border: 1px dashed transparent;
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='3' stroke-dasharray='38%2c 37%2c 12' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
	}
	.buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid var(--border-color);
		a {
			width: fit-content;
			background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			&:hover {
				background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		button {
			padding: 6px;
			width: 200px !important;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px !important;
			cursor: pointer;
			border-width: 1px;
			border-style: solid;
			border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			border-image-slice: 1;
			position: relative;
			background-color: transparent;
			span {
				background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
				-webkit-background-clip: text;
				color: transparent;
				transition: 300ms linear;
				z-index: 1;
			}
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background-image: linear-gradient(90deg, var(--first-accent-color), var(--second-accent-color));
				top: 0;
				left: 0;
				scale: 0 1;
				transition: 300ms linear;
				transform-origin: left;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
			}
			&:hover {
				background-color: transparent;
				span {
					color: white;
				}
				&::before {
					scale: 1 1;
				}
			}
		}
	}
}
