nav {
	background-color: var(--navbar-color);
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 20px;
	position: relative;
	a {
		background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
		-webkit-background-clip: text;
		color: transparent;
		transition: 300ms linear;
		&:hover {
			background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
			-webkit-background-clip: text;
			color: transparent;
			svg {
				fill: var(--second-accent-color);
			}
			path {
				stroke: var(--second-accent-color);
			}
		}
	}
	svg {
		transition: 300ms linear;
		fill: var(--first-accent-color);
	}
	path {
		transition: 300ms linear;
		stroke: var(--first-accent-color);
	}
	.buttons {
		display: flex;
		gap: 20px;
		button {
			background: transparent;
			border: none;
			&:hover {
				cursor: pointer;
			}
		}
		a {
			padding: 6px;
			border-width: 1px;
			border-style: solid;
			border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			border-image-slice: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				padding-left: 10px;
			}
			&:hover {
				border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
				border-image-slice: 1;
			}
		}
		.username {
			display: none;
		}
		.toggle {
			border-width: 1px;
			border-style: solid;
			border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			border-image-slice: 1;
			width: 45px;
			aspect-ratio: 1;
			background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			-webkit-background-clip: text;
			color: transparent;
			&:hover {
				border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
				background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
				-webkit-background-clip: text;
				color: transparent;
				border-image-slice: 1;
			}
		}
	}
	.dropdown {
		position: absolute;
		right: 20px;
		top: 100px;
		width: 300px;
		background-color: var(--navbar-color);
		border-radius: 4px;
		box-shadow: 0px 0px 10px var(--shadow-color);
		z-index: -1;
		top: -200px;
		opacity: 0;
		padding: 5px;
		&::after {
			content: '';
			position: absolute;
			width: 15px;
			height: 15px;
			rotate: 45deg;
			background-color: var(--navbar-color);
			z-index: -1;
			top: -8px;
			right: 14px;
		}
		&.open {
			animation: appear 300ms normal forwards;
			animation-iteration-count: 1;
		}
		@keyframes appear {
			0% {
				z-index: -1;
				top: -200px;
				opacity: 0;
			}
			25% {
				z-index: -1;
				pointer-events: none;
			}
			60% {
				z-index: 1;
				pointer-events: none;
			}
			100% {
				z-index: 1;
				opacity: 1;
				top: 100px;
				pointer-events: all;
			}
		}
		ul {
			list-style-type: none;
			display: grid;
			gap: 10px;
			overflow: hidden;
			li {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				a,
				button {
					display: flex;
					justify-content: start;
					align-items: center;
					gap: 10px;
					width: 100%;
					padding: 8px;
					border-radius: 4px;
					height: 100%;
					background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
					-webkit-background-clip: text;
					color: transparent;
					transition: 300ms linear;
					text-align: left;
					cursor: pointer;
					&:hover {
						color: var(--text-color) !important;
						background-clip: unset;
						background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
						svg {
							transition: 100ms linear;
							fill: var(--text-color);
						}
						path {
							transition: 100ms linear;
							stroke: var(--text-accent-color);
						}
					}
				}
				button {
					background-color: transparent;
					border: none;
				}
			}
		}
	}
}
