.custom-shape-divider-bottom-1677324005 {
	position: absolute;
	bottom: 0 !important;
	z-index: -1;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 101px;
	}
	.shape-fill {
		fill: var(--second-accent-color);
	}
}
.post-container {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	.top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		p {
			span {
				font-weight: bold;
				width: fit-content;
				background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.post-content {
		background-color: var(--secondary-color);
		width: min(calc(100vw - 2rem), 1200px);
		padding: 15px;
		border-radius: 4px;
		box-shadow: 0px 0px 10px var(--shadow-color);
		display: flex;
		flex-direction: column;
		gap: 30px;
		h1 {
			font-size: 2rem;
			font-weight: normal;
			text-align: center;
			width: fit-content;
			background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		pre {
			white-space: pre-wrap; /* Since CSS 2.1 */
			white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
			font-size: clamp(1rem, 1.1vw, 1.2rem);
		}
	}
	.comments {
		width: min(calc(100vw - 2rem), 1200px);
		display: grid;
		gap: 10px;
		margin-top: 100px;
		form {
			&.hide {
				display: none;
			}
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			textarea {
				width: 100%;
				resize: none;
				height: 200px;
				border-radius: 4px;
				border: 1px solid var(--border-color);
				box-shadow: 0px 0px 10px var(--shadow-color);
				padding: 8px;
				background-color: var(--secondary-color);
				color: var(--text-color);
				&:focus {
					outline: 1px solid var(--first-accent-color);
				}
			}
			.buttons {
				display: flex;
				gap: 10px;
				button {
					padding: 6px;
					border-width: 1px;
					border-style: solid;
					border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
					border-image-slice: 1;
					span {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;
					}
					&:first-of-type {
						background-color: var(--secondary-color);
						* {
							transition: 150ms linear;
						}
						span {
							background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
							-webkit-background-clip: text;
							color: transparent;
							svg {
								fill: var(--second-accent-color);
							}
						}
						&:hover {
							cursor: pointer;
							border-width: 1px;
							border-style: solid;
							border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
							border-image-slice: 1;
							span {
								background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
								-webkit-background-clip: text;
								color: transparent;
								svg {
									fill: var(--first-accent-color);
								}
							}
						}
					}
					&:last-of-type {
						background-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
						color: white;
						border: none;
						background-size: 200% 200%;
						background-position: 0 50%;
						transition: 300ms linear;
						&:hover {
							cursor: pointer;
							background-position: 100% 50%;
						}
					}
				}
			}
		}
		.comments-container {
			margin-top: 50px;
			display: grid;
			gap: 10px;
			.user-comment {
				background-color: var(--secondary-color);
				padding: 12px;
				display: flex;
				flex-direction: column;
				align-items: start;
				border-radius: 4px;
				border: 1px solid var(--border-color);
				box-shadow: 0px 0px 10px var(--shadow-color);
				.user {
					display: flex;
					gap: 10px;
					align-items: center;
					img {
						width: 35px;
						height: 35px;
						border-radius: 4px;
					}
				}
				.comment-content {
					margin-left: 57px;
				}
				button.reply {
					margin-left: 65px;
					background-color: transparent;
					border: none;
					display: flex;
					align-items: center;
					gap: 5px;
					background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
					-webkit-background-clip: text;
					color: transparent;
					cursor: pointer;
					svg {
						fill: var(--second-accent-color);
					}
				}
				form {
						height: 150px;
						margin-top: 10px;
						.buttons {
							display: flex;
							// background-color: red;
							width: 100%;
							button {
								margin-left: 0;
								
							}
						}
					}
				.replies {
					margin-top: 10px;
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 8px;
					
				}
			}
		}
	}
}
