@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

:root {
  --background-start-rgb: rgba(0, 0, 0, 0.9);
  --background-end-rgb: rgba(20, 20, 20, 0.9);
  --secondary-color: rgb(21, 21, 21);
  --navbar-color: rgb(18, 18, 18);
  --text-color: white;
  --shadow-color: rgba(0, 0, 0, 0.203);
  --border-color: rgb(46, 46, 46);
  --first-accent-color: hsl(224, 85%, 66%);
  --second-accent-color: hsl(269, 85%, 66%);
}

:root {
  --background-start-rgb: rgb(222, 240, 203);
  --background-end-rgb: rgba(165, 185, 250, 0.9);
  --secondary-color: rgb(254, 254, 254);
  --navbar-color: rgb(254, 254, 254);
  --text-color: rgb(0, 0, 0);
  --shadow-color: rgba(229, 229, 229, 0.203);
  --border-color: rgb(230, 230, 230);
  --first-accent-color: hsl(138, 85%, 66%);
  --second-accent-color: hsl(207, 85%, 66%);
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.sign-in-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sign-in-form .custom-shape-divider-top-1677324190 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.sign-in-form .custom-shape-divider-top-1677324190 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
}
.sign-in-form .custom-shape-divider-top-1677324190 .shape-fill {
  fill: var(--first-accent-color);
}
.sign-in-form .custom-shape-divider-bottom-1677324005 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.sign-in-form .custom-shape-divider-bottom-1677324005 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}
.sign-in-form .custom-shape-divider-bottom-1677324005 .shape-fill {
  fill: var(--second-accent-color);
}
.sign-in-form form {
  z-index: 0;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
  border-radius: 4px;
  width: min(100vw - 2rem, 330px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}
.sign-in-form form h1 {
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign-in-form form .error,
.sign-in-form form .success {
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  position: absolute;
  right: 5px;
  top: 30px;
  overflow: hidden;
}
.sign-in-form form .error span,
.sign-in-form form .success span {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-animation-name: timer;
          animation-name: timer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.sign-in-form form .error span {
  background-color: rgb(215, 56, 56);
}
.sign-in-form form .success span {
  background-color: rgb(89, 202, 48);
}
.sign-in-form form .input {
  --border-width: 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: var(--secondary-color);
}
.sign-in-form form .input::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background-color: var(--border-color);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
}
.sign-in-form form .input:has(input:focus):after {
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
}
.sign-in-form form .input span {
  position: absolute;
  left: 6px;
  top: -15px;
  height: 20px;
  background-color: var(--secondary-color);
}
.sign-in-form form .input span.name {
  width: 5rem;
}
.sign-in-form form .input span.email {
  width: 3rem;
}
.sign-in-form form .input span.pass {
  width: 4.8rem;
}
.sign-in-form form .input span.conpass {
  width: 8.6rem;
}
.sign-in-form form .input label {
  position: absolute;
  left: 10px;
  top: -15px;
  padding: 3px;
  font-size: 0.85rem;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign-in-form form .input input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: none;
  outline: none;
  padding-left: 12px;
  color: var(--text-color);
}
.sign-in-form form .button {
  --border-width: 1px;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 350px);
  height: 40px;
  font-family: Lato, sans-serif;
  transition: 300ms linear;
  text-transform: uppercase;
  color: var(--text-color);
  background: var(--secondary-color);
  border-radius: var(--border-width);
}
.sign-in-form form .button::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}
.sign-in-form form .button:hover {
  background-color: transparent;
  cursor: pointer;
}
.sign-in-form form p,
.sign-in-form form small {
  text-align: center;
}
.sign-in-form form a {
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  background-color: var(--navbar-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: relative;
}
nav a {
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  color: transparent;
  transition: 300ms linear;
}
nav a:hover {
  background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
  -webkit-background-clip: text;
  color: transparent;
}
nav a:hover svg {
  fill: var(--second-accent-color);
}
nav a:hover path {
  stroke: var(--second-accent-color);
}
nav svg {
  transition: 300ms linear;
  fill: var(--first-accent-color);
}
nav path {
  transition: 300ms linear;
  stroke: var(--first-accent-color);
}
nav .buttons {
  display: flex;
  gap: 20px;
}
nav .buttons button {
  background: transparent;
  border: none;
}
nav .buttons button:hover {
  cursor: pointer;
}
nav .buttons a {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
     border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .buttons a span {
  padding-left: 10px;
}
nav .buttons a:hover {
  -o-border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
     border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
  border-image-slice: 1;
}
nav .buttons .username {
  display: none;
}
nav .buttons .toggle {
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
     border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  border-image-slice: 1;
  width: 45px;
  aspect-ratio: 1;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  color: transparent;
}
nav .buttons .toggle:hover {
  -o-border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
     border-image: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
  background: linear-gradient(60deg, var(--second-accent-color), var(--first-accent-color));
  -webkit-background-clip: text;
  color: transparent;
  border-image-slice: 1;
}
nav .dropdown {
  position: absolute;
  right: 20px;
  top: 100px;
  width: 300px;
  background-color: var(--navbar-color);
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  z-index: -1;
  top: -200px;
  opacity: 0;
  padding: 5px;
}
nav .dropdown::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  rotate: 45deg;
  background-color: var(--navbar-color);
  z-index: -1;
  top: -8px;
  right: 14px;
}
nav .dropdown.open {
  -webkit-animation: appear 300ms normal forwards;
          animation: appear 300ms normal forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes appear {
  0% {
    z-index: -1;
    top: -200px;
    opacity: 0;
  }
  25% {
    z-index: -1;
    pointer-events: none;
  }
  60% {
    z-index: 1;
    pointer-events: none;
  }
  100% {
    z-index: 1;
    opacity: 1;
    top: 100px;
    pointer-events: all;
  }
}
@keyframes appear {
  0% {
    z-index: -1;
    top: -200px;
    opacity: 0;
  }
  25% {
    z-index: -1;
    pointer-events: none;
  }
  60% {
    z-index: 1;
    pointer-events: none;
  }
  100% {
    z-index: 1;
    opacity: 1;
    top: 100px;
    pointer-events: all;
  }
}
nav .dropdown ul {
  list-style-type: none;
  display: grid;
  gap: 10px;
  overflow: hidden;
}
nav .dropdown ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .dropdown ul li a,
nav .dropdown ul li button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  height: 100%;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  color: transparent;
  transition: 300ms linear;
  text-align: left;
  cursor: pointer;
}
nav .dropdown ul li a:hover,
nav .dropdown ul li button:hover {
  color: var(--text-color) !important;
  background-clip: unset;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
}
nav .dropdown ul li a:hover svg,
nav .dropdown ul li button:hover svg {
  transition: 100ms linear;
  fill: var(--text-color);
}
nav .dropdown ul li a:hover path,
nav .dropdown ul li button:hover path {
  transition: 100ms linear;
  stroke: var(--text-accent-color);
}
nav .dropdown ul li button {
  background-color: transparent;
  border: none;
}

.posts-container {
  width: min(100vw - 2rem, 1200px);
  margin: 0 auto;
  margin-block: 80px;
}
.posts-container .cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 575px), 1fr));
  gap: 20px;
}
.posts-container .cards-grid .card {
  display: grid;
  gap: 10px;
  background-color: var(--secondary-color);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}
.posts-container .cards-grid .card h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  word-wrap: break-word;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.posts-container .cards-grid .card p {
  margin: 0;
  opacity: 0.6;
  line-height: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.posts-container .cards-grid .card .comments-count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.posts-container .cards-grid .card .comments-count span {
  font-size: 0.8rem;
}
.posts-container .cards-grid .card a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 150px);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
     border-image: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  border-image-slice: 1;
  position: relative;
}
.posts-container .cards-grid .card a span {
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  color: transparent;
  transition: 300ms linear;
  z-index: 1;
}
.posts-container .cards-grid .card a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--first-accent-color), var(--second-accent-color));
  top: 0;
  left: 0;
  scale: 0 1;
  transition: 300ms linear;
  transform-origin: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.posts-container .cards-grid .card a:hover {
  background-color: transparent;
}
.posts-container .cards-grid .card a:hover span {
  color: white;
}
.posts-container .cards-grid .card a:hover::before {
  scale: 1 1;
}
.posts-container .cards-grid .card .bottom {
  display: flex;
  justify-content: space-between;
}
.posts-container .cards-grid .card .bottom small {
  min-width: 160px;
}
.posts-container .cards-grid .card .bottom p {
  text-align: right;
  max-width: 300px;
}

.home h1 {
  text-align: center;
  margin-block: 50px;
  font-size: 3.5rem;
}
.home h1 span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: break-word;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 3.5rem;
}

.create-post {
  width: min(100vw - 2rem, 1200px);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  margin-block: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.create-post form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
  border-radius: 4px;
}
.create-post form h1 {
  font-size: 2rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(60deg, var(--first-accent-color), var(--second-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.create-post form .input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.create-post form .input input,
.create-post form .input textarea {
  padding: 10px;
}
.create-post form .input textarea {
  resize: none;
  height: min(50vh, 500px);
}
.create-post form .button {
  padding: 6px;
  width: 200px !important;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@media (width < 450px) {
  .custom-shape-divider-top-1677324190 svg {
    width: calc(200% + 1.3px) !important;
  }
  .custom-shape-divider-bottom-1677324005 svg {
    width: calc(200% + 1.3px) !important;
  }
}/*# sourceMappingURL=style.css.map */